{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "amd": true
  },
  "plugins": ["@typescript-eslint", "prettier", "only-warn"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  }
}
